body header{
    height: 100px;
    background-color: black;
    padding: 1rem 1rem 0rem;
    margin: 1rem 1rem 0rem;
    text-align: right;
    color: white;
}

.container-size{
    margin: .5rem 3rem 0rem;
}
.nav-title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}

.custom-col{
    border: 2px solid black;
    margin-left: 20px;

}

.col-gap {
    column-gap: 9.5rem;
}

section{
    margin-top: 15px;
    margin-bottom: 15px;
}

/* #eventColumn{
    column-gap: 20px;
} */